@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

.loginButton{
    -fx-color: #b6d19b;
    -fx-background-radius:15px;
}

.loginButton:hover {
              -fx-background-color:#dae7f3;
            }

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.label{
    -fx-font-family: 'Jaldi';
    -fx-font-size: 14;
}